[Desktop Entry]
Name=Xdrawchem
Name[pl]=Xdrawchem
Comment=Two-dimensional molecule drawing program
Comment[pl]=Program do rysowania dwuwymiarowych cząsteczek
Icon=xdrawchem.png
Exec=xdrawchem
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
